.page-wrapper-outer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-wrapper{
    max-width: 1300px;
    height: 100%;
}

@media screen and (max-width: 1350px) {
    .page-wrapper{
        max-width: 1200px;
    }
}