.home-wrapper{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}

.left-col{
    width: 50%;
    display: flex;
    align-items: center;
    padding-bottom: 70px;
    min-width: 200px;
}

.right-col{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 70px;
    margin: 0;
}

.home-h1{
    font-size: 64px;
    margin: 0;
}

.home-p{
    font-size: 22px;
}

.home-content{
    min-width: 0;
}

#home-img{
    height: clamp(300px, 40vw, 500px);
}

@media screen and (max-width: 1400px) {
    .home-wrapper{
        padding: 0 50px;
    }

    #home-img{
        height: clamp(300px, 40vw, 400px);
    }
    
}

@media screen and (max-width: 772px) {
    .home-wrapper{
        display: block;
        margin-top: 5vh;
    }

    .left-col{
        height: 40vh;
        width: 100%;
        padding-bottom: 0;
    }

    .right-col{
        height: 40vh;
        width: 100%;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .home-wrapper{
        margin-top: 0;
    }

    .home-h1{
        font-size: 54px;
    }

    .home-p{
        font-size: 18px;
    }

    .right-col{
        justify-content: center;
    }
    
    #home-img{
        height: 260px;
    }

}