.skills-wrapper{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.skills-content-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

.skills-col1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-col2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 65px;
    padding-bottom: 10px;
}

.skills-header{
    font-size: 46px;
    margin: 0;
    margin-bottom: 20px;
}

.skills-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.skills-content-col{
    height: 100%;
    width: 50%;
}

.skill{
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 10px;
}

.skill-img{
    height: 23vw;
}
