.skills-wrapper{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-content-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

.skills-col1{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.skills-col2{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    padding-bottom: 10px;
}

.skills-header{
    font-size: 46px;
    margin: 0;
    margin-bottom: 20px;
}

.skills-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.skills-content-col{
    height: 100%;
    width: 50%;
}

.skill{
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 10px;
}

.skill-img{
    height: 450px;
}

@media screen and (max-width: 1400px) {
    .skills-wrapper{
        padding: 0 50px;
    }

    .skill-img{
        height: clamp(270px, 34vw, 400px);
    }
}

@media screen and (max-width: 972px) {
    .skills-col2{
        width: 70%;
    }

    .skills-col1{
        width: 30%;
        justify-content: flex-end;
    }

    .skill-img{
        margin-top: 170px;
        height: 230px;
    }
}

@media screen and (max-width: 772px) {
    .skills-wrapper{
        display: block;
        padding: 20px 0;
    }

    .skills-col1{
        height: 40vh;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .skills-col2{
        height: 45vh;
        width: 100%;
        justify-content: center;
        
    }

    .skill-img{
        margin-top: 0;
        height: 230px;
    }

    .skills-content-wrapper{
        transform: scale(0.9);
    }

    .skills-header{
        font-size: 36px;
        margin: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    
    .skills-header{
        font-size: 28px;
        margin: 0;
        margin-bottom: 20px;
    }

    .skills-content{
        grid-gap: 10px;
    }

    .skills-content-wrapper{
        width: 100%;
    }
}

@media screen and (max-height: 500px) {
    .skills-wrapper{
        height: auto;
    }

    .skills-col1{
        height: auto;
    }

    .skills-col2{
        height: auto;
    }
}