.skills-wrapper{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.skills-content-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

.skills-col1{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.skills-col2{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    padding-bottom: 10px;
}

.skills-header{
    font-size: 46px;
    margin: 0;
    margin-bottom: 20px;
}

.skills-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.skills-content-col{
    height: 100%;
    width: 50%;
}

.skill{
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 10px;
}

.skill-img{
    height: 450px;
}

@media screen and (max-width: 1400px) {
    .home-wrapper{
        padding: 0 50px;
    }

    .left-col{
        padding-bottom: 100px;
    }

    .right-col{
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 772px) {
    .home-wrapper{
        display: block;
        margin-top: 5vh;
    }

    .left-col{
        height: 40vh;
        width: 100%;
        padding-bottom: 0;
    }

    .right-col{
        height: 40vh;
        width: 100%;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
   
}