.portfolio-wrapper{
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.portfolio-content-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.portfolio-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-header{
    font-size: 54px;
}
@media screen and (max-width: 1400px) {
    .portfolio-wrapper{
        padding: 0 50px;
    }

}

@media screen and (min-width: 850px) {
    .portfolio-content{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .portfolio-header{
        font-size: 44px;
    }

    .portfolio-wrapper{
        padding: 0;
    }
}

@media screen and (max-height: 500px) {
    .portfolio-wrapper{
        height: auto;
    }
    
}