.portfolio-wrapper{
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-content-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.portfolio-content{
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.portfolio-header{
    font-size: 54px;
}

@media screen and (max-width: 1400px) {
    .portfolio-wrapper{
        padding: 0 50px;
    }

}

@media screen and (max-width: 500px) {
    .portfolio-header{
        font-size: 44px;
    }

    .portfolio-wrapper{
        padding: 0;
    }
}